@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,500&display=swap');
*, *::before, *::after {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
  
html {
  --color-primary: #00d1b2;
  --color-primary: #2fefa6;
  --color-primary-dark: #29cc8d;
  --color-highlight-blue: #919aaf;
  --navbar-height: 5rem;
  --section-width: 60%;
}

body {
  background-color: #eee;
  font-family: 'Open Sans', sans-serif;
  color: #212121;
}

ul { list-style: none; padding: 0; margin: 0; }
a { text-decoration: none; color: inherit; }

.button {
  display: inline-block;
  padding: 8px 24px;
  border: 2px solid white;
  border-radius: 35px;
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 150ms ease-in-out, color 150ms ease-in-out;
}
.button:hover { background-color: #fff; color: #212121; }
.button:focus { outline: none; }


/* ------------------------------
Navbar
------------------------------ */
.navbar * { display: inline-block; vertical-align: middle; }
.navbar {
  width: 100%;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  padding: 0 2rem;
  box-sizing: border-box;
  color: #fff;
  background-color: #212121;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  transition: 150ms ease;
}
.navbar-logo { height: var(--navbar-height); }
.navbar-logo > * { height: calc(var(--navbar-height) - 3rem); margin: 1.5rem 0; }

.navbar-buttons { margin-left: 1rem; }
.navbar-buttons > *:hover { color: #eee; }
.navbar-buttons > * {
  display: inline-block;
  margin: 0 12px;
  color: #888;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  transition: 150ms ease;
}

.navbar-login {
  float: right;
  margin: calc((var(--navbar-height) - 39px) / 2) 0;
  float: right;
  vertical-align: middle;
  line-height: normal;
}

.navbar-burger { display: none;}

.banner ~ .navbar {
  background-color: transparent;
  box-shadow: none;
}

.banner ~ .navbar-buttons > * { color: #fff;}

/* ------------------------------
Banner
------------------------------ */
.banner {
  position: relative;
  width: 100%;
  height: 80vh;
  background: #67B26F;  /* fallback for old browsers */
  background: -webkit-linear-gradient(120deg, #4ca2cd, #67B26F);
  background: linear-gradient(120deg, #4ca2cd, #67B26F);
}

.banner .button {
  margin-top: 8px;
  padding: 8px 35px;
}

.banner-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  color: #fff;
}

.banner-content > * {
  margin-bottom: 6px;
}

.banner-content h1 {
  font-size: 48px;
}

.banner-content p {
  font-size: 18px;
}

.banner-illustration {
  position: absolute;
  top: 55%;
  left: 65%;
  transform: translate(-50%, -50%);
}

.banner-illustration .cms {
  width: 15rem;
  transform: rotateZ(-10deg);
}

/* ------------------------------
Content
------------------------------ */  
section {
  padding: 2rem 20%;
}

section:nth-child(even) {
  background-color: #f4f4f4;
}

.title {
  font: bold 36px sans-serif;
}

.link {
  text-decoration: underline;
  color: var(--color-primary-dark);
  transition: 200ms ease;
}

.link:hover {
  color: var(--color-primary);
}

main h1 {
  font-size: 36px !important;
  color: #333; 
}

main p {
  color: #333;
  font-family: 'Muli', sans-serif;
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 1.5;
}

.masonry-title {
  text-align: center;
  height: 36px;
  line-height: 36px;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  color: #313131;
}

.article-card {
  display: inline-block;
  width: 100%;
  margin: 10px;
  padding: 2rem;
  background: #fff;
  text-align: left;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

footer {
  padding: 0 20%;
  height: 3rem;
  line-height: 3rem;
  text-align: center;
  color: #fff;
  background-color: #212121;
}

footer > div {
  width: 100%;
}

@media only screen and (max-width: 1400px) {
  .banner-content {
    width: 80%;
  }
  
  .banner-illustration {
    left: 75%;
  }
}

@media only screen and (max-width: 1200px) {
  .banner-content { text-align: center; }
  .banner-illustration { display: none; }
}

@media only screen and (max-width: 768px) {
    .navbar-buttons, .navbar-login { display: none; }
    .navbar-burger {
        display: block;
        float: right;
    }
  
    section {
        padding: 6rem 15%;
    }
}
