input {
    height: 20px;
    display: inline-block;
    margin: 20px;
}

body {
    background-color: #292c44;
    text-align: center;
}

.container {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 24px -8px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 24px -8px rgba(0,0,0,1);
    box-shadow: 0px 0px 24px -8px rgba(0,0,0,1);
}

.container > h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.container > p {
    font-size: 1.5em;
}

path, ellipse {
    stroke: rgb(0, 0, 0);
}

.logo > h1 {
    font-size: 8rem;
    display: inline-block;
    padding: 20px 0;
    margin: 0;
}

.version {
    display: block;
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.go_to_admin > a {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.error {
    background-color: white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    color: rgb(47, 21, 21);
}