*, *::before, *::after {
    margin: 0 auto;
    padding: 0;
}

ul { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.menu {
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2rem;
}

.content {
    margin-left: 200px;
}

.menu-item {
    color: black;
    background-color: white;
    padding: 10px 10px;
    border-bottom: 1px solid black;
    display: block;
}

.menu-sub-items-title {
    margin-bottom: 5px;
    display: inline-block;
}

.menu-item.active {
    background-color: rgb(126, 255, 115);
}

.menu-sub-item {
    color: black;
    background-color: rgb(155, 155, 155);
    padding: 5px 5px;
    border: 1px solid black;
    display: block;
}

phantom-data {
    display: none;
}

.link {
    text-decoration: underline;
    color: blue;
}
