@import url('https://fonts.googleapis.com/css?family=Roboto|Lato&display=swap');

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.title { font: bold 20px sans-serif; text-transform: uppercase; }
.link { text-decoration: underline; color: var(--menu-color-active-dark); }

html {
  --color-primary: #24b37c;
  --color-primary-dark: #1f996a;
  --color-primary-light: #29cc8d;
  --menu-width: 225px;
  --navbar-height: 4rem;
  --menu-color: #c9c9c9;
  --menu-color-active: #29cc8d;
  --menu-color-active-dark: #1f996a;
  --menu-background-color: #2c2d30;
  --menu-background-color-active: #32353a;
  overflow-x: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  color: #212121;
  overflow-x: hidden;
  height: 100%;
}


/* ------------------------------
Sidebar
------------------------------ */
.menu {
    position: fixed;
    height: 100%;
    width: var(--menu-width);
    top: 0;
    left: 0;
    background-color: var(--menu-background-color);
    color: #aaa;
    overflow-x: hidden;
    z-index: 1;
    transition: 200ms ease;
}

/* Menu width logic */
.menu.hidden { width: 0; }
.menu.hidden ~ .content { margin-left: 0; }

.menu-burger {
    position: fixed;
    display: inline-block;
    margin: 8px 1rem;
}

.menu-burger::after { content: '\2A09'; font-size: 30px; }
.menu.hidden .menu-burger::after { content: '\2630'; }
.menu > ul { margin-top: var(--navbar-height); }

.menu-item {
    display: block;
    padding: 15px 20px;
    transition: 100ms ease;
}

.menu-item > i {
    width: 16px;
    margin-right: 8px;
}

.menu-item:hover,
.accordion-title:hover {
    background-color: rgba(255,255,255,.05);
}

.menu-item.active,
.accordion-title.active {
    padding-left: 16px;
    border-left: 4px solid var(--menu-color-active);
    background-color: var(--menu-background-color-active);
    color: var(--menu-color-active);
}

/* Accordion */
.accordion-title {
    display: block;
    padding: 15px 20px;
    cursor: pointer;
    transition: 100ms ease;
}

.accordion-title::after {
  margin-top: 4px; /* compensation for non-16px high text*/
  font-size: 12px;
  font-family: 'FontAwesome';
  content: "\f054";
  font-weight: 900;
  float: right;
  font-style: normal;
}

/* Accordion display logic */
.accordion-title.clicked::after,
.accordion-title.active::after { content: "\f078"; }
.accordion-title:not(.active) ~ ul { display: none; }
.accordion-title.clicked ~ ul { display: block; }

.accordion-item {
    display: block;
    padding: 10px 30px;
    transition: 100ms ease;
}

.accordion-item:hover {
    color: #fff;
}

.accordion-item.active {
    color: #fff;
    font-weight: bold;
}

.menu footer {
  position: absolute;
  left: 0;
  bottom: 1rem;
  width: 100%;
  height: auto;
  line-height: inherit;
}

.menu .sub-footer > p { text-align: center; font-size: 12px; }

.menu .sub-sidebar {
  color: white;
  text-align: left;
  padding: 1rem 0;
}

.menu .sub-sidebar a {
  display: block;
  margin-bottom: 0;
  padding: 6px 20px;
  transition: 100ms ease;
  font-size: 15px;
  text-align: left;
}

.menu .sub-sidebar a:hover { color: var(--menu-color-active-dark); }


/* ------------------------------
Actionbar
------------------------------ */
.actionbar {
    margin-left: var(--menu-width);
    width: calc(100% - var(--menu-width));
    height: var(--navbar-height);
    line-height: var(--navbar-height);
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
    transition: 150ms ease;
}

.actionbar.full {
    margin-left: 0;
    width: 100%;
}

.actionbar.full .nav-left {
    margin-left: 2rem;
}

.actionbar .nav-button {
  line-height: normal;
  padding: 22.5px 0;
  margin-right: 8px;
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 150ms ease;
}

.actionbar .nav-button > i {
  padding-left: 8px;
  padding-right: 8px;
}

.actionbar .nav-button:last-child { margin-right: 0px; }
.actionbar .nav-button:hover { color: #666; }
.actionbar .nav-left { float: left; }
.actionbar .nav-right { float: right; }
.actionbar i { font-size: 22px; }

/* --------------------
Actionbar dropdowns
-------------------- */
.actionbar .dropdown {
  position: absolute;
  top: calc(var(--navbar-height) + 8px);
  right: 2rem;
  display: none;
  width: 150px;
  padding: 8px 0;
  line-height: 3rem;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 8px 0 rgba(0,0,0,.1);
  opacity: 0;
  animation: menu 75ms ease-out forwards;
  transform-origin: right top;
  z-index: 10;
}

.actionbar .dropdown li {
  position: relative;
  width: 100%;
  height: 3rem;
  cursor: pointer;
}
.actionbar .dropdown li i {
  margin-right: 12px;
  font-size: 16px;
}
.actionbar .dropdown li a {
  display: inline-block;
  width: 100%;
  height: 100%;
  padding: 0 18px;
}

.actionbar .dropdown li:hover { background-color: #f9f9f9; }
.actionbar .dropdown li:hover i { color: var(--color-primary); }

/* --------------------
Notification dropdown
-------------------- */
.actionbar .notification-dropdown {
  right: 4rem;
  width: 300px;
  line-height: initial;
}
.actionbar .notification-dropdown li a {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.actionbar .dropdown li.new a { padding-left: 32px; }
.actionbar .dropdown li.new::before{
  content: '';
  position: absolute;
  left: 1rem;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 999px;
  background: var(--color-primary);
}

.actionbar .dropdown .date-time {
  font-size: 12px;
  color: #777;
}

@keyframes menu {
  0% {
    opacity: 0;
    transform: scale(.7);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}


/* ------------------------------
Content
------------------------------ */
.content {
  margin-left: var(--menu-width);
  padding: 2rem 5%;
  transition: 200ms ease;
  height: 100%;
}

.content h1 {
  margin-block-end: 1rem;
}

section.container {
  vertical-align: top;
  max-width: 380px;
  margin: 0 1rem 1rem 0;
}

section.container.full {
  max-width: initial;
}

phantom-data { display: none; }


/* ----------------------------------------
MQ #3 - 768px [Phone]
---------------------------------------- */
@media only screen and (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  /* Menu styling only when the page has just been loaded and the menu button has not yet been pressed.*/
  /*.menu { width: 0; }
  .content { margin-left: 0; }*/
    
  /* The same menu width logic as above, put here for reference */
  /*.menu.hidden { width: 0; }
  .menu.hidden ~ .content { margin-left: 0; }*/
    
  /* Menu styling when the menu button has been pressed */
  /*.menu { width: var(--menu-width); }
  .content { margin-left: var(--menu-width); }*/
    
  .content {
    width: 100vw;
  }

  .nav-left {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar-saved {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  bottom: 30px; /* 30px from the bottom */
}
  
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar-saved.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
  
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
