*, *::before, *::after {
    margin: 0 auto;
    padding: 0;
}

ul { list-style: none; margin: 0; padding: 0; }
a { text-decoration: none; color: inherit; }

.title {
    font: bold 20px sans-serif;
    text-transform: uppercase;
}

.link {
    text-decoration: underline;
    color: var(--menu-color-active-dark);
}

html {
    --menu-width: 225px;
    --menu-color: #c9c9c9;
    --menu-color-active: #29cc8d;
    --menu-color-active-dark: #1f996a;
    --menu-background-color: #2c2d30;
    --menu-background-color-active: #32353a;
}

body {
    font-family: sans-serif;
    /*background-color: #212123;
    color: #fff;*/
}


/* ------------------------------
Sidebar
------------------------------ */
.menu {
    position: fixed;
    height: 100%;
    width: var(--menu-width);
    top: 0;
    left: 0;
    padding-top: 2rem;
    background-color: var(--menu-background-color);
    color: #aaa;
    overflow-x: hidden;
    z-index: 1;
}

.menu-item {
    display: block;
    padding: 15px 20px;
    transition: 100ms ease;
}

.menu-item > i {
    width: 16px;
    margin-right: 8px;
}

.menu-item:hover,
.accordion-title:hover {
    background-color: rgba(255,255,255,.05);
}

.menu-item.active,
.accordion-title.active {
    padding-left: 16px;
    border-left: 4px solid var(--menu-color-active);
    background-color: var(--menu-background-color-active);
    color: var(--menu-color-active);
}

/* Accordion */
.accordion-title {
    display: block;
    padding: 15px 20px;
    cursor: pointer;
    transition: 100ms ease;
}

.accordion-title::after {
    content: '\25BC';
    float: right;
    font-style: normal;
}

/* Accordion display logic */
.accordion-title.clicked::after,
.accordion-title.active::after { content: '\25B2'; }
.accordion-title:not(.active) ~ ul { display: none; }
.accordion-title.clicked ~ ul { display: block; }

.accordion-item {
    display: block;
    padding: 10px 30px;
    transition: 100ms ease;
}

.accordion-item:hover {
    color: #fff;
}

.accordion-item.active {
    color: #fff;
    font-weight: bold;
}


/* ------------------------------
Content
------------------------------ */
.content {
    margin-left: var(--menu-width);
    padding: 2rem;
    box-sizing: border-box;
}

table {
    margin: 0;
    margin-top: 1rem;
    border-collapse: collapse;
    text-align: left;
}

thead { background-color: #ddd; }
tbody { background-color: #f6f6f6; }

td,th {
    padding: 15px;
    border-bottom: 1px solid #aaa;
}

phantom-data { display: none; }
