#editors {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto;
    grid-gap: 2rem;
    margin-top: 1rem;
    width: 100%;
}

.editor-title {
    font-size: 40px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #888;
    transition: 150ms ease;
}

.editor-title:focus {
    outline: none;
    border-color: #29cc8d;
}

#primary {
    width: 100%;
}

#side {
    width: 100%;
}

.side-inner {
    display: inline-block;
    width: 100%;
    height: auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    box-sizing: border-box;
}

.field {
    margin-bottom: 1rem;
}

.field label {
    display: block;
    margin-top: 12px;
    margin-bottom: 4px;
}

input[type=submit] {
    float: left;
    padding: 10px 24px;
    border: none;
    border-radius: 35px;
    background-color: #2fefa6;
    color: #fff;
    cursor: pointer;
    transition: 150ms ease-in-out;
}
input[type=submit]:hover { background-color: #29cc8d; }
input[type=submit]:focus { outline: none; }

#side input[type=text] {
    display: block;
    width: 100%;
    border: none;
    border-radius: 35px;
    background-color: rgba(0,0,0,.1);
    color: #333;
    padding: 10px 20px;
    box-sizing: border-box;
    transition: 200ms ease-in-out;
}

#side input[type=text]:focus,
#side input[type=text]:hover {
    outline: none;
    background-color: rgba(0,0,0,.15);
}

#side .button#delete {
    display: inline-block;
    padding: 10px 24px;
    border: none;
    border-radius: 6px;
    background-color: red;
    color: #fff;
    cursor: pointer;
    transition: 150ms ease-in-out;
}

@media only screen and (max-width: 1000px) {
    #editors {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr min-content;
        grid-gap: 1rem;
    }
}