.editor-title {
    height: 40px;
    font-size: 40px;
    width: 100%;
}

input[type=submit] {
    display: inline-block;
    float: left;
    padding: 10px 30px;
    border: none;
    border-radius: 35px;
    background-color: #2fefa6;
    color: #fff;
    cursor: pointer;
    transition: 200ms ease-in-out;
  }
  input[type=submit]:hover { background-color: #29cc8d; }
  input[type=submit]:focus { outline: none; }

#primary {
    display: inline-block;
    width: 74%;
    /* border: 1px solid black; */
    float: left;
}

.field {
    margin: 15px 0;
}

#side {
    display: inline-block;
    width: 25%;
    background-color: rgb(180, 171, 164);
    /* height: 30px; */
    float: right;
    height: 100%;
}

#editors {
    margin: 20px 20px;
    display: inline-block;
    width: 100%;
}
  
