html {
    background: url('../img/login-bg.svg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.field {
    display: block;
    margin: 20px 0;
}

label {
    font-weight: bold;
}

input[type=text], input[type=password] {
    border-radius: 6px;
    border: 1px solid rgb(212, 212, 212);
    padding: 10px 20px;

    display: block;
}